.main{
    margin: 30px;
    background:white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
body{ background: #efefef;}

.media-object{
    width: 45px;
    height: 45px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
