.main{
    margin: 30px;
    background:white;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
body{ background: #efefef;}

.media-object{
    width: 45px;
    height: 45px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.btn {
    float: right;
    margin-top: 10px;
}

.huifu{
    color: #999;
    margin-top: 5px;
}
.huifu .icon{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.huifu .icon:hover{
    color: blue;
}

.media1{
    margin-top: 20px;
}
.publis-tag-tab .span-tag{
margin-right: 10px;
    margin-top: 10px;
}
