<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.getTitle()}"></title>
    <!--引入bootstrap的css和js-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/comment.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/editormd.min.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
<body>
<div th:insert="~{common/head::head}"></div>
<div class="container-fluid main">
    <div class="row" style="width: 800px">
        <div class="clo-lg-9 col-md-12 col-sm-12 col-xs-12 ">
            <h2 th:text="${question.getTitle()}"><span class="glyphicon glyphicon glyphicon-list"
                                                       aria-hidden="true"></span></h2>
            <hr>

            <div class="clo-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <span class="text-desc">
                       作者:<span th:text="${question.getUser().getName()}"></span>
                 | 发布于 <span th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd HH:mm ')}"></span>
                 | 阅读数: <span th:text="${question.getViewCount()}"></span>
            </span>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view" >
            <textarea style="display:none;" th:text="${question.getDescription()}" ></textarea>
            </div>
            <script type="text/javascript">
                $(function () {
                    editormd.markdownToHTML("question-view", {});
                });
            </script>


            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span th:each="tag:${question.getTag().split(',')}">
                <a class="label label-info" th:text="${tag}"></a>
                </span>

            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


            <!--如果问题是当前登入用户发布 就可编辑-->
            <a th:if="${session.user !=null && session.user.getId()==question.getUser().getId()}"
               th:href="@{'/updateQuestion/'+${question.getUser().getId()}}" style="font-size: 14px"
               class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="glyphicon glyphicon-pencil">
            </span>
                编辑
            </a>
        </div>

        <!--评论for-->
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3><span th:text="${question.getCommentCount()}"></span> 个回复</h3>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 0px">
        <div class="clo-lg-9 col-md-12 col-sm-12 col-xs-12 ">
            <div class="media" th:each="comment:${commentList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded  " th:src="${comment.getImg()}">
                    </a>
                </div>
                <div class="media-body" style="padding-top: 14px" th:id="${'comment-body'+comment.getId()}">
                    <a href="#" class="media-heading" th:text="${comment.getName()}"></a>
                    <!--内容-->
                    <div th:text="${comment.getContent()}">
                    </div>
                    <div class="huifu">
                        <span class="glyphicon glyphicon-thumbs-up icon"></span>
                        <span class="glyphicon glyphicon-comment icon" th:data-id="${comment.getId()}"
                              onclick="showTowComment(this)"></span>
                        <span th:text="${comment.getCommentCount()}"></span>
                        <span class="pull-right"
                              th:text="${#dates.format(comment.getGmtCreate(),'yyyy-MM-dd')}"></span>

                        <!--二级评论-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                             th:id="${'comment-'+comment.getId()} ">

                            <!-- <div class="media1"  th:each="comment:${commentList}" >
                                 <div class="media-left">
                                     <a href="#">
                                         <img class="media-object img-rounded  " th:src="${comment.getImg()}" >
                                     </a>
                                 </div>-->
                            <!--<div class="media-body" style="padding-top: 14px" >
                                <a href="#"  class="media-heading" th:text="${comment.getName()}"></a>
                                &lt;!&ndash;内容&ndash;&gt;
                                <div th:text="${comment.getContent()}">
                                </div>
                                <div class="huifu">
                                    <span class="glyphicon glyphicon-thumbs-up icon" ></span>
                                    <span class="glyphicon glyphicon-comment icon" th:data-id="${comment.getId()}" onclick="showTowComment(this)"  ></span>
                                    <span class="pull-right"
                                          th:text="${#dates.format(comment.getGmtCreate(),'yyyy-MM-dd')}"></span>
                                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                </div>
                            </div>-->

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="评论...." id="twoContent">
                                <button type="button" class="btn btn-success btn" onclick="twoComment()">评论</button>

                            </div>
                        </div>

                    </div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>

            </div>
        </div>

        <div>

            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <!--回复框-->
            <div class="clo-lg-9 col-md-12 col-sm-12 col-xs-12 ">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded  " th:src="${question.getUser().getImg()}">
                        </a>
                    </div>
                    <div class="media-body" style="padding-top: 14px">
                        <a href="#" class="media-heading" th:text="${question.getUser().getName()}"></a>
                        <span id="tishi"></span>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.getId()}">
                <textarea class="form-control" id="comment_question" rows="6" style="margin-top: 14px"></textarea>
                <button type="button" class="btn btn-success btn" onclick="post()">回复</button>
            </div>


        </div>

    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"
         style="position: absolute;top: 89px;left: 1000px;width:500px;height: 380px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  >
            <br class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>发起人</h3>
            <div class="media" >
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle  " th:src="${question.getUser().getImg()}" >
                    </a>
                </div>
                <div class="media-body">
                    <a href="#"  class="media-heading" th:text="${question.getUser().getName()}"></a>

                </div>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  >
                <h3>作者微信</h3>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="">
                </div>
                <h3>相关话题</h3>
                <a th:if="${whereByTag.size()}!=0" th:href="@{'/UseQuestion/'+${tag.getId()}}"  th:each="tag:${whereByTag}" th:text="${tag.title}"
                   style="display: block;padding-top: 10px"></a>
                <h4 th:if="${whereByTag.size()}==0" style="padding-top: 30px">
                   当前无相关问题,试试发布问题吧！
                </h4>
            </div>



        </div>
    </div>
</div>
</body>
</html>