<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.questionMapper">

    <insert id="addQuestion" parameterType="question">
      insert into  question(title,description,tag,creator,gmt_create,gmt_modified)
      values (#{title},#{description},#{tag},#{creator},#{gmtCreate},#{gmtModified})
    </insert>

    <select id="getList" resultType="question">
        select *from question limit #{pag},#{size}
    </select>

    <select id="getAllCount"  resultType="int">
        select count(1) from question
    </select>

    <select id="getListByCreator" resultType="question">
        select * from question where creator=#{id} limit #{pag},#{size};
    </select>

    <select id="getAllCountById" resultType="int">
        select count(1) from question where creator=#{id}
    </select>

    <select id="getQuestionById" resultType="question">
        select * from question where id=#{id}
    </select>
    <update id="updateQuestion" >
        update question set title=#{title},description=#{description},
        view_count=#{viewCount}+1,tag=#{tag},gmt_modified=#{gmtModified} where id=#{id}
    </update>

</mapper>