<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.userMapper">

    <insert id="addUser" parameterType="user">
        insert into user( accountid, name, token, gmtcreate, gmtmodified,img)
        values (#{accountid},#{name},#{token},#{gmtcreate},#{gmtmodified},#{img})
    </insert>

    <select id="finByToken" resultType="user" parameterType="string">
    select * from db1.user where token=#{token}
    </select>

    <select id="finById" resultType="user">
      select * from db1.user where id=#{id}
    </select>
    <select id="finByName" resultType="String">
         select * from db1.user where name=#{name}
    </select>
    <select id="finByNameRsUser" resultType="user">
        select * from db1.user where name=#{name}
    </select>

    <select id="getUserForeach" resultType="user" flushCache="true"  >
        select * from user where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>

    </select>

</mapper>